
<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}}
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8" *ngFor="let d of admindata">

      <img class="avatar mat-elevation-z8" src="{{ d.displayImage }}" />

      <h4 class="name">{{ d.fullname }}</h4>
      <p class="designation">{{ d.designation }}</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
        <mat-icon>person_add</mat-icon>
          <span>Add Doctor</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-show-all-patient-list">
        <mat-icon>people</mat-icon>
        <span>All Patient</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Admin-show-doctorlist">
      <mat-icon>person_outline</mat-icon>
      <span>All Doctors</span>
  </button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-appoinment-list" >
    <mat-icon>book</mat-icon>
    <span>Appoinments</span>
</button>
<button mat-button class="menu-button" (click)="addPhamasisit()" >
  <mat-icon>open_with</mat-icon>
  <span>Add Pharmacist</span>
</button>





  </mat-sidenav>


    <div class="content mat-elevation-z8 " style="height: fit-content;" >
        <div class='container-fluid ' style="padding: 3%;">
            <h1 style="font-family: 'Lemon'; margin-left: 30px;"><u>Edit Hospital Unit</u></h1>
        
            <form class="row g-3" style="margin-right: 10px; margin-left: 20px;" [formGroup]="medical"> 
                <div class="col-md-12">
                    <label for="category" class="form-label">Hospital Unit Category:</label>
                    <select id="inputcategory" class="form-select" formControlName="catogary">
                        <option selected>ChooseCategory</option>
                        <option >Intensive Care Units</option>
                        <option >Non-Intensive Care Units</option>
                        <option > Specialty care Units</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="intensive" class="form-label">Intensive Care Units:</label>
                    <select id="inputintensive" class="form-select" formControlName="Icu">
                        <option selected>None</option>
                        <option >Neonatal intensive care units (NICUs)</option>
                        <option >Pediatric intensive care units (PICUs)</option>
                        <option >Coronary care and cardiothoracic units (CCUs/CTUs) </option>
                        <option >Surgical intensive care units (SICUs)</option>
                        <option >Medical intensive care units (MICUs)</option>
                        <option >Long term intensive care units (LTAC ICUs)</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="Non-Intensive" class="form-label">Non-Intensive Care Units:</label>
                    <select id="input Non-Intensive" class="form-select" formControlName="NIcu">
                        <option selected>None</option>
                        <option >Neonatal units</option>
                        <option >Pediatric units</option>
                        <option >Post-critical care (or step down) units </option>
                        <option >Oncology units </option>
                        <option >Surgical units </option>
                        <option >Medical units</option>
                        <option >Rehabilitation wards</option>
                        <option >Long-term care</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="specialty" class="form-label">Specialty Care Units:</label>
                    <select id="inputspecialty" class="form-select" formControlName="Scu">
                        <option selected>None</option>
                        <option >Burn</option>
                        <option >Oncology Wards</option>
                        <option >Trauma ICUs</option>
                        <option >Neurologic ICUs</option>
                        <option >other types of units</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="dname" class="form-label">Mentor Name(Doctor):</label>
                    <input type="text" class="form-control" id="dname" placeholder="Dr.Nirojan" formControlName="mentorDoc">
                  </div>
                  <div class="col-md-6">
                    <label for="countdoc" class="form-label">Count Of Doctors:</label>
                    <input type="text" class="form-control" id="countdoc" placeholder="3" formControlName="countOfDoc">
                  </div>
                  <div class="col-md-6">
                    <label for="Nname" class="form-label">Mentor Name(Nurse):</label>
                    <input type="text" class="form-control" id="Nname" placeholder="R.Kamala(Nursing)" formControlName="mentorNur" >
                  </div>

                  <div class="col-md-6">
                    <label for="Nname" class="form-label">Count of Nurses:</label>
                    <input type="text" class="form-control" id="Nname" placeholder="4" formControlName="countOfNur">
                  </div>
                  <div class="col-md-6">
                    <label for="Nname" class="form-label">Total No of Beds:</label>
                    <input type="text" class="form-control" id="Nname" placeholder="2" formControlName="TotalNoBed">
                  </div>
                  <div class="col-md-6">
                    <label for="Nname" class="form-label">Total No of Equipments:</label>
                    <input type="text" class="form-control" id="Nname" placeholder="5" formControlName="TotalNoEqu">
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="myButton" (click)="update(medical.value)">Update</button>
                  </div>
            </form>
        </div>
    </div>
</mat-sidenav-container>
