<mat-toolbar class="mat-elevation-z8">
  <h1 class="adminlogo" routerLink="/Admin-dashboard">Admin</h1>
  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Deshan Harshana</h4>
      <p class="designation">Hospital Admin</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
          <mat-icon>person</mat-icon>
          <span>Add Doctor</span>
      </button>




  </mat-sidenav>


    <div class="content mat-elevation-z8"  style="height:max-content;">
<div class="container-fluid">
  <div class="row">
    <div class="col-4 x d-flex justify-content-center">
      <div class="card doctor zoom" routerLink="/Admin-show-doctorlist">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">10</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.5rem;">Doctors</h1>
      </div>
    </div>
    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">
      <div class="card patient zoom" style="background-color: rgb(186, 235, 201);">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">58</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.5rem;">Patients</h1>

      </div>
    </div>
    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">
      <div class="card appointment zoom" style="background-color: rgb(220, 235, 186);">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">8</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3rem;">Appoinment</h1>


      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 wards">
<div class="card wardlist">
<div class="row">
  <div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
    <h1 style="font-family: 'Lemon'; font-size:2.5rem">Wards</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">

      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
dfs
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>

      </div>
      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
      ward1
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>

      </div>
  </div>

</div>
</div>
    </div>
    <div class="col-6 labs">
<div class="card lablist">
  <div class="row">
    <div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
      <h1 style="font-family: 'Lemon'; font-size:2.5rem">Labs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
dfs
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>

      </div>
      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
      ward1
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center">
          ward2
        </div>


    </div>
    </div>
  </div>

</div>
    </div>
</div>
<div class="row">
  <div class="col-6 wards">
<div class="card wardlist">
<div class="row">
<div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
  <h1 style="font-family: 'Lemon'; font-size:2.5rem">Operation Theatre</h1>
</div>
</div>
<div class="row">
<div class="col-12">

    <div class="row d-flex justify-content-center d-flex align-items-center">
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
dfs
      </div>
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
        ward2
      </div>
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
        ward2
      </div>

    </div>

</div>

</div>
</div>
  </div>
  <div class="col-6 labs">
<div class="card lablist">
<div class="row">
  <div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
    <h1 style="font-family: 'Lemon'; font-size:2.5rem">Labs</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">

    <div class="row d-flex justify-content-center d-flex align-items-center">
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
dfs
      </div>
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
        ward2
      </div>
      <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center">
        ward2
      </div>

    </div>

  </div>
</div>

</div>
  </div>
</div>
</div>

</div>



</mat-sidenav-container>
