<mat-toolbar class="mat-elevation-z8" style="color: rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
      
  <span class="spacer"></span>
  
      
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem; font-family:lemon;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8" *ngFor="let d of admindata">

      <img class="avatar mat-elevation-z8" src="{{ d.displayImage }}" />

      <h4 class="name">{{ d.fullname }}</h4>
      <p class="designation">{{ d.designation }}</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
        <mat-icon>person_add</mat-icon>
          <span>Add Doctor</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-show-all-patient-list">
        <mat-icon>people</mat-icon>
        <span>All Patient</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Admin-show-doctorlist">
      <mat-icon>person_outline</mat-icon>
      <span>All Doctors</span>
  </button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-phamasisit">
    <mat-icon>person_outline</mat-icon>
    <span>All Pharmacists</span>
</button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-appoinment-list" >
    <mat-icon>book</mat-icon>
    <span>Appoinments</span>
</button>
<button mat-button class="menu-button" (click)="addPhamasisit()" >
  <mat-icon>open_with</mat-icon>
  <span>Add Pharmacist</span>
</button>





  </mat-sidenav>


    <div class="content mat-elevation-z8"  style="height:max-content;">
<div class="container-fluid">
  <div class="row">
    <div class="col-4 x d-flex justify-content-center">
      <div class="card doctor zoom" routerLink="/Admin-show-doctorlist">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">{{ Doctor_count }}</h1>

        <h1 class="d-flex justify-content-center" style="font-family:'Lemon'; padding-top:7%; font-size:2.0rem;">Doctors</h1>

      </div>
    </div>
    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">
      <div class="card patient zoom" style="background-color: rgb(186, 235, 201);" routerLink="/Admin-show-all-patient-list">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">{{ Patient_count }}</h1>

        <h1 class="d-flex justify-content-center" style="font-family:'Lemon'; padding-top:7%; font-size:2.0rem;">Patients</h1>


      </div>
    </div>
    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">
      <div class="card appointment zoom" routerLink="/Admin-show-all-appoinment-list" style="background-color: rgb(220, 235, 186);">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">{{ Appoinment_count }}</h1>

        <h1 class="d-flex justify-content-center" style="font-family:'Lemon'; padding-top:2%; font-size:2.0rem; line-height:normal">Appointment</h1>



      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 wards">
<div class="card wardlist">
<div class="row">
  <div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
    <h1 style="font-family: 'Lemon'; font-size:2.5rem">Wards</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">

      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div routerLink="/Admin-show-wardpage/614d46b77d79d50b407157ef" class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(0, 0, 255, 0.26);">

<h1 style="font-family: Lemon" >Ward 1</h1>
        </div>
        <div routerLink="/Admin-show-wardpage/614ed870a24b974fc05038dc" class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(255, 0, 128, 0.26);">
          <h1 style="font-family: Lemon" >Ward 2</h1>
        </div>
        <div routerLink="/Admin-show-wardpage/614ed92da24b974fc05038de" class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(255, 153, 0, 0.26);">
          <h1 style="font-family: Lemon" >Ward 3</h1>

        </div>

      </div>
      <div class="row d-flex justify-content-center d-flex align-items-center">
        <div  routerLink="/Admin-show-wardpage/614ed99ba24b974fc05038e0" class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(123, 255, 0, 0.26);">

          <h1 style="font-family: Lemon">Ward 4</h1>
        </div>
        <div routerLink="/Admin-show-wardpage/614eda1ba24b974fc05038e4" class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(0, 255, 85, 0.26);">
          <h1 style="font-family: Lemon" >Ward 5</h1>
        </div>
        <div routerLink="/Admin-show-wardpage/614eda9aa24b974fc05038e6" class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgba(0, 255, 242, 0.26);">
          <h1 style="font-family: Lemon" >Ward 6</h1>

        </div>

      </div>
  </div>

</div>
</div>
    </div>
    <div class="col-6 labs">
<div class="card lablist">
  <div class="row">
    <div class="col-12 d-flex justify-content-center d-flex align-items-center" style="padding-top: 10px;">
      <h1 style="font-family: 'Lemon'; font-size:2.5rem">Medical Units</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">


      <div class="row d-flex justify-content-center d-flex align-items-center" >
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cba016c59c307d89f4638" style="background-color: burlywood;">

        <h1 style="font-family: Lemon">Icu 1</h1>
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cbc40efb589d8996dd14a" style="background-color: burlywood;">
          <h1 style="font-family: Lemon">Icu 2</h1>
        </div>
        <div class="col-3 card pqrs zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cbc4fefb589d8996dd14b" style="background-color: burlywood;">
          <h1 style="font-family: Lemon">Icu 3</h1>


        </div>

      </div>
      <div class="row d-flex justify-content-center d-flex align-items-center">

        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cbc53efb589d8996dd14c" style="background-color:rgb(26, 230, 230)">

          <h1 style="font-family: Lemon">NIcu 1</h1>
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cbc58efb589d8996dd14d" style="background-color: rgb(235, 72, 72);">
          <h1 style="font-family: Lemon">Scu 1</h1>
        </div>
        <div class="col-3 pqrs card zoom d-flex justify-content-center d-flex align-items-center" routerLink="/show-medical-unit/614cbc5cefb589d8996dd14e" style="background-color: rgb(235, 72, 72);">
          <h1 style="font-family: Lemon">Scu 2</h1>


        </div>


    </div>
    </div>
  </div>

</div>
    </div>
</div>

</div>

</div>



</mat-sidenav-container>
