<html>
  <body>
    <mat-toolbar class="mat-elevation-z8" style="color:  rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
      <img style="height:100%;  margin-right:5%; cursor:pointer"  src="../../../assets/navbar/logo.png"/>
     
       
      
      <h1 style="font-size: 7vh; color:rgb(244, 38, 34); padding-left: 16vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
      
      
     
      <span class="spacer"></span>
      
        
      
       <p class="txt-time" style="padding-top: 1%;"> {{time | date:'mediumTime'}}
      
     
    
      
    </mat-toolbar>
    <div class="container" >
      <div class="box" (click)="Admin()">
          <div class="text">
              <h1>Admin</h1>

          </div>
      </div>
      <div class="box two" (click)="Doctor()">
        <div class="text">
            <h1>Doctor</h1>

        </div>
    </div>

      <div class="box three" (click)="Patient()">
          <div class="text">
              <h1>Patient</h1>
              </div>
      </div>
    </div>


  </body>
</html>
