<html>
  <body>
    <mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
      <img style="height:100%;  margin-right:5%; cursor:pointer"  src="../../../assets/navbar/logo.png"/>
    
      <span class="spacer"></span>
      
    </mat-toolbar>
    <div class="container">
      <div class="box" (click)="Admin()">
          <div class="text">
              <h1>Admin</h1>

          </div>
      </div>
      <div class="box two" (click)="Doctor()">
        <div class="text">
            <h1>Doctor</h1>

        </div>
    </div>

      <div class="box three" (click)="Patient()">
          <div class="text">
              <h1>Patient</h1>
              </div>
      </div>
    </div>


  </body>
</html>
