mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-toolbar {
  background: #004a9f;
  color: white;
}
.imgCard{
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.507), 0 0 6px rgba(0, 0, 0, 0.05);
margin-bottom: 8%;
margin-top: 7%;
}
.card-body{
  z-index: 1;
}
.patientImage{
  width: 20%;
  border-radius: 50%;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;
}

.x-sign {
  --interval: 10s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign:nth-of-type(1) {
  color: rgb(252, 0, 0);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 255, 255);
  --color3: rgb(0, 253, 232);
  --color4: rgb(0, 162, 255);
  font-family: Sriracha;
}
.details{
  margin: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.507), 0 0 6px rgba(0, 0, 0, 0.05)
}
mat-sidenav-container {
  height: calc(100vh - 65px);
}
h3{
  font-family: "Iniya";
  font-size: 1.5rem;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}
mat-icon {
      margin-right: 8px;
  }

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;

  color: rgb(255, 255, 255);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.spacer {
  flex: 1 1 auto;
}
.type{
  color:#002b5c;
  font-family: 'Lemon';
  font-size: 1rem;
}

h2{
  color:#df7b1e;
  font-family: 'Lemon';
  font-size: 1rem;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
.x-sign {
  --interval: 10s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign:nth-of-type(1) {
  color: rgb(252, 0, 0);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 255, 255);
  --color3: rgb(0, 253, 232);
  --color4: rgb(0, 162, 255);
  font-family: Sriracha;
}


@keyframes flicker {
  50% {
    color: rgb(129, 218, 204);
    filter: saturate(200%) hue-rotate(20deg);
  }
}