

<mat-toolbar class="mat-elevation-z8" style="color: rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Doctor-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>

  
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
    <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem; font-family:lemon;"><mat-icon>power_settings_new</mat-icon></button>


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

 

    
    <p class="designation">Hospital Doctor</p>
    <div class="container d-flex justify-content-center d-flex align-items-center" style="font-size: 1rem;">
      Available


        </div>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="goHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/DoctorPatientList">
        <mat-icon>people</mat-icon>
        <span>Patients</span>
    </button>

    <button mat-button class="menu-button" routerLink="/DoctorAppoinmentList">
        <mat-icon>assignment</mat-icon>
        <span>Appointments</span>
    </button>


    <button mat-button class="menu-button" routerLink="/calendarDoctor">
        <mat-icon>add_alert</mat-icon>
        <span>Reminder</span>
    </button>




  </mat-sidenav>


<div class="content mat-elevation-z8" style="height: fit-content;">
  <div class="container-fluid">
<div class="row">
        <div class="col-4">
           <div class="profile-card-4">
            <div class="card" class="imgCard">
              <div class="card-body text-center rounded-top">
               <div class="user-box">
                <img src="{{ data.displayImage }}" alt="user avatar">
              </div>

             </div>
              <div class="card-body">

                <li class="d-flex justify-content-center">
                  <h1 class="type">{{ data.type }}</h1>

                </li>
                <li class="d-flex justify-content-center">
                  <h2>{{ data.fullname }}</h2>


                </li>
                <li class="d-flex justify-content-center">
                  <button class="myButton" routerLink="/edit-doctor-detais/{{ data._id }}">Edit Details</button>
                </li>


              </div>



             </div>
             <div class="card imgCard" style="padding: 5%;">
               <div class="row">
                 <div class="col-6">
                  <label for="name">Current Patient</label>
                  <h3 id="name">{{ patient }}</h3>
</div>
<div class="col-6">
                  <label for="name">Current Ward</label>
                  <h3 id="name">{{ ward }}</h3>



                 </div>

               </div>

             </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="card details">
            <div class="card-body">
<div class="row">
  <div class="col-6">
     <label for="name">Doctor Name</label>
    <h3 id="name">{{ data.fullname }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Working Hospital</label>
    <h3 id="name">{{ data.currentHospital }}</h3>

  </div>
</div>
<div class="row">
  <div class="col-6">
     <label for="name">Doctor Age</label>
    <h3 id="name">{{ data.age }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Living</label>
    <h3 id="name">{{ data.currentCity }}</h3>

  </div>
</div>
<div class="row">
  <div class="col-6">
     <label for="name">Email Address</label>
    <h3 id="name">{{ data.email }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Mobile Phone Number</label>
    <h3 id="name">{{ data.phone }}</h3>

  </div>

</div>
<div class="row">
  <div class="col-6">
     <label for="name">Marital Status</label>
    <h3 id="name">{{ data.maritalStatus }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Education Level</label>
    <h3 id="name">{{ data.edulevel }}</h3>

  </div>

</div>
<div class="row">
  <div class="col-6">
     <label for="name">Degree</label>
    <h3 id="name">{{ data.degree }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Experiance</label>
    <h3 id="name">{{ data.ex}}</h3>

  </div>

</div>
<div class="row">
  <div class="col-6">
     <label for="name">SLMC Number</label>
    <h3 id="name">{{ data.SLMC }}</h3>

  </div>
  <div class="col-6">
    <label for="name">Position</label>
    <h3 id="name">{{ data.position }}</h3>

  </div>

</div>

        </div>
      </div>

      <div class="card details">
        <h2 style="padding-left: 2%; padding-top:1%">Patients</h2>
        <div class="card-body">
          <div class="row" style="font-size: 1.1rem; border-bottom:black solid 1px">
            <div class="col-3">
              Patient Image
            </div>
            <div class="col-3">
              Patient Name
            </div>

            <div class="col-3">
              More Details
            </div>

          </div>
          <div *ngFor="let data of patientList">
          <div class="row d-flex align-items-center d-flex justify-content-center"  style="font-size: 1rem; margin-top:1%;  ">
            <div class="col-3" >
              <img class="patientImage" src="{{ data.displayImage }}">

            </div>
            <div class="col-5">
              <h1>{{ data.name }}</h1>
            </div>

            <div class="col-4">
              <a href="" routerLink="/Admin-show-patient-details/{{ data._id }}">Show More</a>
            </div>

          </div>
          </div>
          
          </div>
      </div>








      </div>


    </div>
</div>
</div>
</mat-sidenav-container>
