<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8" *ngFor="let d of admindata">

      <img class="avatar mat-elevation-z8" src="{{ d.displayImage }}" />

      <h5 class="name">{{ d.fullname }}</h5>
      <p class="designation">{{ d.designation }}</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
        <mat-icon>person_add</mat-icon>
          <span>Add Doctor</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-show-all-patient-list">
        <mat-icon>people</mat-icon>
        <span>All Patient</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Admin-show-doctorlist">
      <mat-icon>person_outline</mat-icon>
      <span>All Doctors</span>
  </button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-appoinment-list" >
    <mat-icon>book</mat-icon>
    <span>Appoinments</span>
</button>
<button mat-button class="menu-button" (click)="addPhamasisit()" >
  <mat-icon>open_with</mat-icon>
  <span>Add Pharmacist</span>
</button>





  </mat-sidenav>



<div class="content mat-elevation-z8"  style="height: fit-content;">
  <div class='container-fluid' style="margin-top: 2%; margin-bottom:5%">
    <div class="row">
      <div class="col-12">

      </div>
    </div>
    <div class="row">

      <div class="col-4" *ngFor="let d of data">
        <div  class="card cd  d-flex align-items-center" >
        <button class="available" *ngIf="d.available==true" (click)="available(d.available, d._id)">Available</button>
        <button class="notavailable"  *ngIf="d.available!=true" (click)="available(d.available,  d._id)">Not Available</button>
         <img src="{{ d.displayImage }}" class="rounded-circle r">
         <h4>{{ d.fullname }}</h4>
         <h3>{{ d.currentHospital }}</h3>
        <h2 class="strokeme">{{ d.type }}</h2>
        <button routerLink="/show-doctor-details/{{ d._id }}" class="myButton">View Profile</button>

        </div>
      </div>
    </div>
  </div>
</div>
</mat-sidenav-container>
