<div class="content mat-elevation-z8" style="height: fit-content;">
  <div class='container-fluid' style="margin-top: 2%; margin-bottom:5%">
    <div class="row">
      <div class="col-12">
        selected bar
      </div>
    </div>
    <div class="row">

      <div class="col-4" *ngFor="let d of data">
        <div  class="card cd  d-flex align-items-center" >
         <img src="https://www.clipartmax.com/png/small/430-4305378_512-x-492-5-cartoon-dog-face-happy.png" class="rounded-circle r">
        </div>
      </div>
    </div>
  </div>
</div>
