mat-sidenav-container {
  height: calc(100vh - 65px);
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;

  display: flex;
  justify-content: center;

}
.cd{
  margin-top: 3%;
  height: 50vh;
  padding: 5%;
  margin-left: 10%;
  margin-bottom: 8%;
  margin-right: 10%;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    background-color: rgb(230, 239, 247);
    padding-bottom: 2%;
    height: fit-content;
}


.cd:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.r{
  width: auto;
  height: 12rem;
  text-align: center;
  border: black 1px solid;

  margin-bottom: 3%;
}
h4{
  color: black;
  font-family: 'Lemon';

}

.strokeme {
  font-size: 1rem;
  font-family: "Lemon";
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.spacer {
  flex: 1 1 auto;
}



.available {
	box-shadow:inset 0px 39px 0px -24px #7de673;
	background-color:#74e45d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b0b235;
  margin-bottom: 3%;
  width: 70%;
}

.notavailable{
  box-shadow:inset 0px 39px 0px -24px #e67373;
	background-color:#e45d5d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b25235;
  margin-bottom: 3%;
  width: 70%;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}
.x-sign {
  --interval: 10s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign:nth-of-type(1) {
  color: rgb(252, 0, 0);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 255, 255);
  --color3: rgb(0, 253, 232);
  --color4: rgb(0, 162, 255);
  font-family: Sriracha;
}


@keyframes flicker {
  50% {
    color: rgb(129, 218, 204);
    filter: saturate(200%) hue-rotate(20deg);
  }
}
