<html>
	<body>
	  <mat-toolbar class="mat-elevation-z8" style="color:  rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
		<img style="height:100%;  margin-right:5%; cursor:pointer"  src="../../../assets/navbar/logo.png"/>
	   
		 
		
		<h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 16vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
		
		
	   
		<span class="spacer"></span>
		
		  
		
		 <p class="txt-time" style="padding-top: 1%;">{{time | date:'mediumTime'}}
		
	   
	  
		
	  </mat-toolbar>

		<!-- Main Content -->
<div class="container x d-flex justify-content-center d-flex align-items-center">
  <div class="row main-content align-middle bg-success text-center">
  <div class="col-md-4 text-center company__info">
    <span class="company__logo"></span>

  </div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row" style="padding-top: 4%;">
						<h1>Register as a Patient</h1>
					</div>
					<div class="row">

            <form class="form-group" [formGroup]="signupForm">

              <div class="row">

								<input type="text" formControlName="name"  class="form__input" placeholder="Username" required>
							</div>

              <div class="row">

								<input type="text" formControlName="email"  class="form__input" placeholder="Email Address" required>
							</div>
							<div class="row">

								<input type="password" formControlName="password"  class="form__input" placeholder="Password" required>
							</div>
              <div class="row">

								<input type="password" formControlName="confirmPassword"  class="form__input" placeholder="Confirm Password" required>
							</div>

							<div >
								<button class="btn" (click)="signup(signupForm.value)" [disabled]="!signupForm.valid">Register</button>
                </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
