<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8" *ngFor="let d of admindata">

      <img class="avatar mat-elevation-z8" src="{{ d.displayImage }}" />

      <h4 class="name">{{ d.fullname }}</h4>
      <p class="designation">{{ d.designation }}</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
        <mat-icon>person_add</mat-icon>
          <span>Add Doctor</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-show-all-patient-list">
        <mat-icon>people</mat-icon>
        <span>All Patient</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Admin-show-doctorlist">
      <mat-icon>person_outline</mat-icon>
      <span>All Doctors</span>
  </button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-appoinment-list" >
    <mat-icon>book</mat-icon>
    <span>Appoinments</span>
</button>
<button mat-button class="menu-button" (click)="addPhamasisit()" >
  <mat-icon>open_with</mat-icon>
  <span>Add Pharmacist</span>
</button>





  </mat-sidenav>



<div class="content mat-elevation-z8" style="height: fit-content;">
<div class="container-fluid" style="height: fit-content; margin-bottom:5%">
<div class="row">
  <div class="col-8">
    <div class="container-fluid">
      <div class="card details" style="height: fit-content;">
        <h1 style="font-family: 'Lemon';">Add a new doctor</h1>
        <form [formGroup]="doctor">
          <div class="card" style="padding: 3%; padding-bottom:4%; margin-bottom:5%">
            <h2><u>Personal Information</u></h2>
          <div class="row" >
            <div class="col">
              <label for="inputState">Name Title</label>
              <select id="inputState" class="form-control" formControlName="title">
                <option selected>Choose...</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Miss</option>
              </select>
            </div>
            <div class="col">
              <label for="fullname">Name</label>
              <input type="text" id="fullname" class="form-control" placeholder="Name" formControlName="fullname">
            </div>
          </div>


          <div class="row">
            <div class="col">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" required placeholder="Email" formControlName="email">
                       </div>
            <div class="col">
              <label for="phone">Phone No</label>
              <input type="number" id="phone" class="form-control" placeholder="Phone No" formControlName="phone">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="age">Age</label>
              <input type="number" id="age" class="form-control" placeholder="Age" formControlName="age">
                       </div>
            <div class="col">
              <label for="city">Current City</label>
              <input type="text" id="city" class="form-control" placeholder="Current City" formControlName="currentCity">
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label for="hospital">Current Hospital</label>
              <input type="text" id="hospital" class="form-control" placeholder="Current Hospital" formControlName="currentHospital">
                       </div>
            <div class="col">
              <label for="relationship">Marital Status</label>
              <select id="relationship" class="form-control" formControlName="maritalStatus">
                <option selected>Choose...</option>
                <option>Single</option>
                <option>Married</option>
                <option>Widowed</option>
                <option>Divorced</option>
              </select></div>

          </div>
          <div class="row">
            <div class="col">
              <label for="exampleFormControlTextarea1">Additional Details</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="personalAdditional"></textarea>
            </div>
          </div>


        </div>





        <div class="card" style="padding: 3%; padding-bottom:4%; margin-bottom:5%">
          <h2><u>Educational Information</u></h2>
        <div class="row" >
          <div class="col">
            <label for="degree">Degree</label>
            <input type="text" id="degree" class="form-control" placeholder="Degree" formControlName="degree">
          </div>
          <div class="col">
            <label for="level">Educational Level</label>
            <input type="text" id="level" class="form-control" placeholder="Eduction Level" formControlName="edulevel">
          </div>
        </div>



          <div class="row">
            <div class="col">
              <label for="exampleFormControlTextarea2">Additional Details</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" formControlName="eduAdditional"></textarea>
            </div>


        </div>
      </div>






        </form>

      </div>
    </div>
  </div>
  <div class="col-4 pic-div ">
    <div class="row d-flex justify-content-center">
      <img class="img-class" [src]="imageData">

    </div>

    <div class="row">
      <section class="d-flex justify-content-center">
        <input style="display: none" type="file" (change)="onFileSelect($event)"  #hiddenfileinput>

        <button (click)="hiddenfileinput.click()"  class="btn btn-warning d-flex justify-content-center"><i class="material-icons left"></i>Select Image</button>
      </section>
    </div>
    <div class="row d-flex justify-content-center">
      <form [formGroup]="doctor">
        <div class="card reg">
        <div class="col">

            <label for="SLMC">SLMC Number</label>
            <input type="text" id="SLMC" class="form-control" placeholder="SLMC No" formControlName="SLMC">
</div>
        <div class="col">
            <label for="experiance">Experiance Year</label>
            <input type="text" id="experiance" class="form-control" placeholder="Experiance Years" formControlName="experiance">

          </div>
          <div class="col">
            <label for="type">Type of Doctor</label>
            <select id="type" class="form-control" formControlName="type">
              <option selected>Choose...</option>
              <option>Audiologist</option>
              <option>Epidemiologist</option>
              <option>Podiatrist</option>
              <option>Pediatrician</option>
              <option>Rheumatologist</option>
              <option>Dentist</option>
              <option>Oncologist</option>
              <option>Obstetrics and gynecology physician</option>
              <option>Urologist</option>
              <option>Psychiatrist</option>
              <option>Dermatologist</option>
              <option>Orthopedist</option>
              <option>Endocrinologist</option>
              <option>Neurologist</option>
              <option>Plastic surgeon</option>
              <option>Nephrologist</option>
              <option>Radiologist</option>
              <option>Gastroenterologist</option>
              <option>Neonatologist</option>
              <option>Cardiologist</option>
<option>Geriatric physician</option>
            </select></div>

          <div class="col">
            <label for="position">Position</label>
            <select id="position" class="form-control" formControlName="position">
              <option selected>Choose...</option>
              <option>Senior</option>
              <option>Trainning</option>
              <option>Consultant</option>

            </select></div>

        </div>
      </form>

    <button class="myButton "  (click)="addDoctor(doctor.value)" >Add Doctor</button>

    </div>
  </div>


</div>


</div>
</div>
</mat-sidenav-container>
