<mat-toolbar class="mat-elevation-z8">
  <h1 class="adminlogo" routerLink="/Admin-dashboard">Admin</h1>
  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="{{ displayImage }}" />

    <h4 class="name">Dr {{ doctordata.fullname }}</h4>
    <p class="designation">Hospital Doctor</p>
    <div class="container d-flex justify-content-center d-flex align-items-center" style="font-size: 1rem;">
      Available


        </div>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/DoctorPatientList">
      <mat-icon>people</mat-icon>
      <span>Patients</span>
  </button>
<button mat-button class="menu-button" routerLink="/DoctorAppoinmentList">
  <mat-icon>book</mat-icon>
  <span>Appoinments</span>
</button>



  </mat-sidenav>


    <div class="content mat-elevation-z8">
<div class="container-fluid " style="padding:3%">
  <h1 class="header-details" style="font-family: 'Mangas'; font-size:2.5rem" >Notifications</h1>
  <div class="row" >
<div class="col-4" *ngFor="let d of data | orderBy:'d.currenttime'">
  <div [ngClass]="d.seen ? 'zoom1' : 'zoom'" style="padding: 1%;"(click)="content(d._id)">
    <h2 class="d-flex justify-content-center">{{d.header}}</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <h3>Time {{ d.time }}</h3>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <h3> Name : {{ d.content }}</h3>
      </div>
    </div>
  </div>
</div>



  </div>

  <div class="container-fluid">


 </div>

</div>

    </div>


</mat-sidenav-container>
