<mat-toolbar class="mat-elevation-z8">
  <h1 class="adminlogo" routerLink="/Admin-dashboard">Admin</h1>
  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Deshan Harshana</h4>
      <p class="designation">Hospital Admin</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Patient-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
          <mat-icon>person</mat-icon>
          <span>Add Doctor</span>
      </button>



  </mat-sidenav>


    <div class="content mat-elevation-z8">
<div class="container-fluid " style="padding:3%">
  <h1 class="header-details" style="font-family: 'Mangas'; font-size:2.5rem" >Notifications</h1>
  <div class="row" >
<div class="col-4" *ngFor="let d of data">
  <div class="card zoom " style="padding: 1%;">
    <h2 class="d-flex justify-content-center">Appoinment</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <h3>Time 3:30</h3>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <h3> Name : Deshan</h3>
      </div>
    </div>
  </div>
</div>



  </div>

  <div class="container-fluid">


 </div>

</div>

    </div>


</mat-sidenav-container>
