<div class="container">

    <form [formGroup]="example">
      <div class="row">
        <div class="col-6">
          <label for="name">Name</label>
          <input type="text" formControlName="name" placeholder="Name" id="name">
        </div>
        <div class="col-6">
          <label for="age">Age</label>
          <input type="text" formControlName="age" placeholder="Age" id="age">
        </div>
        <button (click)="send(example.value)">Goto Edit</button>
      </div>
      </form>
  </div>

