/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/flatpickr/dist/flatpickr.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "Lemon";
  src: url(./assets/fonts/LemonMilkBold-gx2B3.otf);
}
@font-face {
  font-family: "Alloyink";
  src: url(./assets/fonts/AlloyInk-nRLyO.ttf);
}
@font-face {
  font-family: "Quartzo";
  src: url(./assets/fonts/QuartzoBold-W9lv.ttf);
}
@font-face {
  font-family: "Iniya";
  src: url(./assets/fonts/IniyaDisplay-ow0Ra.otf);
}

@font-face {
  font-family: "Meteor";
  src: url(./assets/fonts/Shellby-VGYmy.ttf);
}


@font-face {
  font-family: "Mangas";
  src: url(./assets/fonts/MangabeyRegular-rgqVO.otf);
}
@font-face {
  font-family: "Arogun";
  src: url(./assets/fonts/ArogunPersonalUse-rgqoB.otf);
}

@font-face {
  font-family: "Abas";
  src: url(./assets/fonts/MatSaleh-vmGpM.ttf);
}
@font-face {
  font-family: "joy";
  src: url(./assets/fonts/Joyous-w1WKZ.otf);
}



@font-face {
  font-family: "broad";
  src: url(./assets/fonts/BroadwayRegular-7Bpow.ttf);
}
@font-face {
  font-family: "zafani";
  src: url(./assets/fonts/Zefani.otf);
}
