<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

     
      <p class="designation">Hospital Patient</p>

      <mat-divider></mat-divider>


      <button mat-button class="menu-button" (click)="goHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/patient-password-reset">
      <mat-icon>vpn_key</mat-icon>
      <span>Change Key</span>
  </button>









  </mat-sidenav>


    <div class="content mat-elevation-z8"  style="height:fit-content;">
<div class="container-fluid ">
  <h1 style="font-family: 'Lemon'; color:rgb(16, 131, 1);">Patient Profile</h1>
  <div class="card">

    <div class="row">
      <div class="col-4">
<div class="profile">
  <div class="row">
    <div class="col-12 " >
      <div class="row">
<div class="col-12 d-flex align-items-center d-flex justify-content-center">
        <img src="{{ patientData.displayImage }}" class="imgAvatar " >
      </div>

      </div>

    </div>
  </div>


</div>
      </div>
      <div class="col-8">
        <div class="card details" style="height: fit-content;">
<div class="row" style="padding: 3%;">
  <div class="col-6">
    <label for="name">Name</label>
    <h2>{{ patientData.name }}</h2>

    <label for="name">Age</label>
    <h2>{{ patientData.age }}</h2>


    <label for="name">Email</label>
    <h2>{{ patientData.email }}</h2>
  </div>
  <div class="col-6">
    <label for="name">Ward No</label>
    <h2>{{ patientData.wardno }}</h2>

    <label for="name">Phone</label>
    <h2>{{ patientData.phone }}</h2>


    <label for="icon">Reports</label><br>
    <button class="myButton" (click)="restrict(patientData._id)">See Reports</button>


  </div>
</div>
<div class="row" style="margin-bottom: 2%;">

    <div class="col d-flex align-items-center d-flex justify-content-center" >
      <button class="myButton" routerLink="/Admin-edit-patient-details/{{ patientData._id }}">Edit Details</button>
      <button [hidden]="addPrescription()" class="myButton" style="margin-left: 4%;" routerLink="/Doctor-Add-Prescription/{{ patientData._id }}">Add Prescription</button>

    </div>

</div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col">
        <div class="card medicaldetails">
<div class="row">
  <div class="col-4">
    <div class="card medi zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgb(247, 213, 212);">
      <div class="bloodsugerclass d-flex justify-content-center d-flex align-items-center">
       
        <circle-progress
        [percent]="rsugerLevel"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [showInnerStroke]="false"
        [outerStrokeColor]="'#fa0000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showImage]="true"
        [imageSrc]="bloodpresure"
        [imageHeight]="100"
        [imageWidth]="100"
        class="w-100"
      ></circle-progress>

      </div>

    </div>
  </div>

  <div class="col-4">
    <div class="card medi zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgb(168, 218, 238);">
      <div class="bloodsugerclass d-flex justify-content-center d-flex align-items-center">
        <circle-progress
        [percent]="rpresureLevel"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#003afa'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [showInnerStroke]="false"
        [animationDuration]="1000"
        [showImage]="true"
        [imageSrc]="bloodpresure"
        [imageHeight]="100"
        [imageWidth]="100"
        class="w-100"
      ></circle-progress>
      </div>

    </div>
  </div>

  <div class="col-4">
   <div class="card medi zoom d-flex justify-content-center d-flex align-items-center" style="background-color: rgb(214, 243, 203);">
      <div class="bloodsugerclass d-flex justify-content-center d-flex align-items-center">
        <circle-progress
        [percent]="rcholestrolLevel"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#19fa00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [showInnerStroke]="false"
        [animationDuration]="1000"
        [showImage]="true"
        [imageSrc]="cholestrol"
        [imageHeight]="100"
        [imageWidth]="100"
        class="w-100"

      ></circle-progress>
      </div>

    </div>
  </div>

</div>
<div class="row " style="padding-top: 2%; padding-bottom:2%">
   <div class="col-4 d-flex justify-content-center d-flex align-items-center"><h2 style="font-family: 'Lemon';">Blood Presure : {{ presureLevel }} mm Hg</h2></div>
   <div class="col-4 d-flex justify-content-center d-flex align-items-center"><h2 style="font-family: 'Lemon';">Blood Suger : {{ sugerLevel }} mg/dL</h2></div>
   <div class="col-4 d-flex justify-content-center d-flex align-items-center"><h2 style="font-family: 'Lemon';">Cholestrol : {{ cholestrolLevel }} dL</h2></div>
</div>
        </div>
      </div>
    </div>

  </div>

  </div>
  </div>
  </mat-sidenav-container>
