<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>



<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" [src]="displayImage" />

    <h4 class="name">{{patientname}}</h4>
    <p class="designation">Hospital patient</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/Patient-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/Admin-show-patient-details/{{ patientid }}">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
  </button>

  <button mat-button class="menu-button" routerLink="/getAllDoctorAppoinment/{{ patientid }}">
    <mat-icon>person</mat-icon>
    <span>Doctors</span>
</button>


    <button mat-button class="menu-button" routerLink="/getcurrentAppoinment">
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
  </button>

  <button mat-button class="menu-button" routerLink="/report-list/{{ patientid }}">
    <mat-icon>insert_drive_file</mat-icon>
     <span>Report</span>
 </button>

 




  <button mat-button class="menu-button" routerLink="/patient-bill/{{ patientid }}">
    <mat-icon>add_alert</mat-icon>
    <span>Your Bill</span>
</button>












</mat-sidenav>

    <div class="content mat-elevation-z8">
      <h1 style="padding-left:3%; padding-top:2%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Your Prescriptions</h1>
<div class="container-fluid " style="height: 100vh;">
<div class="row" >
  <div class="col-4" *ngFor="let d of prescriptionData">
    <div class="card  zoom" style="padding: 2%;" routerLink="/patient-prescriptions/{{ d._id }}">
      <h2 class="d-flex justify-content-center">{{ d.date }}</h2>
      <h3 class="d-flex justify-content-center">Doctor name: {{ d.doctorname }}</h3>
    </div>
  </div>
</div>

  </div>
  </div>

</mat-sidenav-container>
