mat-toolbar {
    background: #004a9f;
    color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 2.5rem;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  mat-icon {
    margin-right: 8px;
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 2.5rem;
  padding: 2%;
    display: flex;
    justify-content: center;
  
  }
  
  
  .profile .imgAvatar{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 6px;
  }
  

  
  .zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.09);
  }
  
  .zoom {
    cursor: pointer;
    border-radius: 4px;
  
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  

h2{
    font-family: "Times New Roman";
    font-size: 1.5rem;
    font-weight:400;
  }
.col-6{
    font-family:monospace;
    font-size:1.25rem;
    font-weight: 800;
}
  
  
  
  
  
  
  
  
  
  
  
  .myButton {
      box-shadow:inset 0px 1px 0px 0px #fff6af;
      background:linear-gradient(to bottom, blue 5%, lightblue 100%);
      background-color:blue;
      border-radius:6px;
      border:1px solid blue;
      display:inline-block;
      cursor:pointer;
      color:whitesmoke;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffee66;
  
  }
  .myButton:hover {
      background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
      background-color:red;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  .x-sign {
    --interval: 10s;
    display: block;
    text-shadow: 
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }
  
  .x-sign:nth-of-type(1) {
    color: rgb(252, 0, 0);
    --color1: rgb(255, 255, 255);
    --color2: rgb(255, 255, 255);
    --color3: rgb(0, 253, 232);
    --color4: rgb(0, 162, 255);
    font-family: Sriracha;
  }
  
  
  @keyframes flicker {
    50% {
      color: rgb(129, 218, 204);
      filter: saturate(200%) hue-rotate(20deg);
    }
  }
  