<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Patient-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" [src]="displayImage" />

    <h4 class="name">{{patientname}}</h4>
    <p class="designation">Hospital patient</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="goHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button *ngIf="otherButton" mat-button class="menu-button" routerLink="/Admin-show-patient-details/{{ patient_id }}">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
  </button>
  

  <button *ngIf="otherButton" mat-button class="menu-button" routerLink="/getAllDoctorAppoinment/{{ patient_id }}">
    <mat-icon>person</mat-icon>
    <span>Doctors</span>
</button>


    <button *ngIf="otherButton" mat-button class="menu-button" routerLink="/getcurrentAppoinment">
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
  </button>

  <button *ngIf="otherButton" mat-button class="menu-button" routerLink="/report-list/{{ patient_id }}">
    <mat-icon>insert_drive_file</mat-icon>
     <span>Report</span>
 </button>

 




  <button *ngIf="otherButton" mat-button class="menu-button" routerLink="/patient-bill/{{ patient_id }}">
    <mat-icon>add_alert</mat-icon>
    <span>Your Bill</span>
</button>



<div class="container d-flex justify-content-center d-flex align-items-center" *ngIf="!otherButton"  style="font-size: 1rem;">
  Sign Admin
      <div class="form-check" style="margin-left:3%;">
        <input class="form-check-input" (change)="available($event)"  type="checkbox" [checked]="adminSign" id="flexCheckDefault">

      </div>

    </div>








</mat-sidenav>


    <div class="content mat-elevation-z8" style="height: fit-content;" >
<div class="container-fluid" >
 <div id="myDiv" #myDiv >

<div class="row" class="m-4">
  <div class="card shadow-sm p-3 bg-white rounded" >
  <div class="col-12">
    <h1 class="d-flex justify-content-center" style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top:3%">Billing Report</h1>
  </div>
  <div class="row">
  <div class="col-6" style="line-height: 4px; margin:0px">
    <img style="height:60px;  margin-right:5%;" src="../../../assets/navbar/logo.png"/>

    <p style="font-weight: bolder; font-size:1.3rem; padding-top:3%">LifeCare Hospital</p><br>
    <p style="font-weight:normal; font-size:1rem">No 32 Road,</p><br>
    <p style="font-weight:normal; font-size:1rem">Panadura,</p><br>
    <p style="font-weight:normal; font-size:1rem">Rathmalana</p><br>

  </div>
  <div class="col-6 " style="margin-top: 5%;">
    <p style="font-weight:bold; font-size:1rem; line-height: 4px;" class="d-flex justify-content-end"> {{ patientData.name }},</p><br>
    <p style="font-weight:normal; font-size:1rem; line-height: 4px;" class="d-flex justify-content-end">Date : {{ todayDate }}</p><br>
  </div>
</div>
<div class="row mt-3">
  <label for="doc">Doctor Details</label>
  <table class="table">
    <thead>
      <tr>
        <th scope="col-1" style="width: 15%; text-align:center">SLMC</th>
        <th scope="col-6"style="width: 35%; text-align:center">Doctor Name</th>
        <th scope="col-4"style="width: 35%; text-align:center">Doctor Type</th>
        <th scope="col-1"style="width: 15%; text-align:center">Doctor Charge (Rs.)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of patientDoctors">
        <th scope="row">{{ d.SLMC }}</th>
        <td>Dr {{ d.fullname }}</td>
        <td>{{ d.type }}</td>
        <td>Rs. 1200</td>
      </tr>

    </tbody>
  </table>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <h2 style="font-weight: bold;">Total for Doctors : Rs {{ doctorTotal }}</h2>
    </div>
  </div>
</div>
<div class="row mt-3">
  <label for="doc">Medicine Details</label>
  <table class="table">
    <thead>
      <tr >
        <th scope="col-1" style="width: 10%; text-align:center">ID</th>
        <th scope="col-6"style="width: 45%; text-align:center">Drug Name</th>
        <th scope="col-4"style="width: 15%; text-align:center">Quantity</th>
        <th scope="col-1"style="width: 15%; text-align:center">Price Rs.</th>
        <th scope="col-1"style="width: 15%; text-align:center">Total Rs.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of medicineList; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ d.drugname }}</td>
        <td>{{ d.quantity }}</td>
        <td>Rs. {{ d.priceofone }}</td>
        <td>Rs. {{ d.priceofone * d.quantity  }}</td>
      </tr>

    </tbody>
  </table>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <h2 style="font-weight: bold;">Total for Medicine : Rs {{ total }}</h2>


    </div>
  </div>
  <div class="row">
  <div class="col-12 d-flex justify-content-end">
  <h3 style="font-weight: bold;">Hospital Charge : Rs 1000</h3><br>
</div>

  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1 style="font-weight: bold;" class="d-flex justify-content-end">Total Rs. {{ total + doctorTotal+1000 }}</h1>
  </div>
 
  <div class="col-6">
    
    <h4 style="font-weight: bold;">Admin sign : .....................</h4>
    <img src="../../../assets/sign/signature.png" *ngIf="sign" style="height:10vh; width: 10vw;"/>
  </div>
  <div class="col-6  d-flex justify-content-end">
   <h4 style="font-weight: bold;">Patient sign : .....................</h4>
  </div>
</div>
</div>

 </div>


  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-end p-3">
    <button class="btn btn-success" *ngIf="canPrint" (click)="printDiv()">Print Bill</button>
  </div>
</div>

</div>





</mat-sidenav-container>
