<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>



<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" [src]="displayImage" />

    <h5 class="name">{{patientname}}</h5>
    <p class="designation">Hospital patient</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/Patient-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/Admin-show-patient-details/{{ patient_id }}">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
  </button>

  <button mat-button class="menu-button" routerLink="/getAllDoctorAppoinment/{{patient_id}}">
    <mat-icon>person</mat-icon>
    <span>Doctors</span>
</button>


    <button mat-button class="menu-button" routerLink="/getcurrentAppoinment">
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
  </button>

  <button mat-button class="menu-button" routerLink="/report-list/{{ patient_id }}">
    <mat-icon>insert_drive_file</mat-icon>
     <span>Report</span>
 </button>

 




  <button mat-button class="menu-button" routerLink="/patient-bill/{{ patient_id }}">
    <mat-icon>add_alert</mat-icon>
    <span>Your Bill</span>
</button>












</mat-sidenav>





<div class="content mat-elevation-z8"  style="height: fit-content;">
  <div class='container-fluid' style="margin-top: 2%; margin-bottom:5%">
    <div class="card" style="padding: 2%;">
    <div class="row">
      <div class="col-6">

          <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter doctor name to search">

      </div>
      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" style="font-size: 1.2em;" type="checkbox" (change)="myDoctors($event)" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            My Doctors
          </label>
        </div>
      </div>
      <div class="col-4">

        <select id="type" class="form-control"  [(ngModel)]="catogory" (ngModelChange)="Catogorize()">
          <option>All Doctors</option>
          <option>Audiologist</option>
          <option>Epidemiologist</option>
          <option>Podiatrist</option>
          <option>Pediatrician</option>
          <option>Rheumatologist</option>
          <option>Dentist</option>
          <option>Oncologist</option>
          <option>Obstetrics and gynecology physician</option>
          <option>Urologist</option>
          <option>Psychiatrist</option>
          <option>Dermatologist</option>
          <option>Orthopedist</option>
          <option>Endocrinologist</option>
          <option>Neurologist</option>
          <option>Plastic surgeon</option>
          <option>Nephrologist</option>
          <option>Radiologist</option>
          <option>Gastroenterologist</option>
          <option>Neonatologist</option>
          <option>Cardiologist</option>
<option>Geriatric physician</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
    <div class="row">

      <div class="col-4" *ngFor="let d of filterdData">
        <div  class="card cd  d-flex align-items-center">
          <button class="available" *ngIf="d.available==true">Available</button>
          <button class="notavailable"  *ngIf="d.available!=true">Not Available</button>

         <img src="{{ d.displayImage }}" class="rounded-circle r">
         <h4>{{ d.fullname }}</h4>
         <h3>{{ d.SLMC }}</h3>
        <h2 class="strokeme">{{ d.type }}</h2>
        <button class="myButton" (click)="appoinment(d._id)" >Appoinment</button>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-sidenav-container>
