<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" [src]="displayImage" />

    <h4 class="name">{{patientname}}</h4>
    <p class="designation">Hospital patient</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/Patient-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/Admin-show-patient-details/{{ patient_id }}">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
  </button>

  <button mat-button class="menu-button" routerLink="/getAllDoctorAppoinment/{{ patient_id }}">
    <mat-icon>person</mat-icon>
    <span>Doctors</span>
</button>


    <button mat-button class="menu-button" routerLink="/getcurrentAppoinment">
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
  </button>

  <button mat-button class="menu-button" routerLink="/report-list/{{ patient_id }}">
    <mat-icon>insert_drive_file</mat-icon>
     <span>Report</span>
 </button>

 




  <button mat-button class="menu-button" routerLink="/patient-bill/{{ patient_id }}">
    <mat-icon>add_alert</mat-icon>
    <span>Your Bill</span>
</button>












</mat-sidenav>


    <div class="content mat-elevation-z8">
<div class="container-fluid ">
  <h1 class="header-details">My Appoinments</h1>
  <div class="d-flex justify-content-center">

    <!-- <button (click)="x()">Active</button>
    <button (click)="y()">All</button>
    <p> not complete</p> -->




  </div>

  <div class="container-fluid">

<div class="card list">
<div class="row" style="border-bottom: 1px solid black; padding-bottom:6px">
  <div class="col-3 d-flex justify-content-center heading">
    Doctor Name
  </div>
  <div class="col-3 d-flex justify-content-center heading">
    Appoinment Date
  </div>
  <div class="col-3 d-flex justify-content-center heading">
Appoinment Time
  </div>
  <div class="col-2 d-flex justify-content-center heading">
Status
  </div>
  <div class="col-1 d-flex justify-content-center heading">
    Action
  </div>
</div>




<div class="row" style="padding-bottom:6px; padding-top:6px" *ngFor="let d of filterdData |orderBy | paginate:{itemsPerPage:5, currentPage:p}">
  <div class="col-3 d-flex align-items-center ">
    <img class="patientImage d-flex align-items-center " src="{{ d.displayImage }}"/>
    <h4 style="margin-left: 5%; font-size:1.3rem; font-family:'Abas'" >{{ d.doctorname }}</h4>

  </div>
  <div class="col-3 d-flex align-items-center d-flex justify-content-center">
    <h4 style="font-size:1.3rem; font-family:'Abas'">{{ d.appoinmentDate }}</h4>
  </div>
  <div class="col-3 d-flex align-items-center d-flex justify-content-center">
    <h4 style="font-size:1.3rem; font-family:'Abas'">{{ d.appoinmentTime }}</h4>

  </div>
  <div class="col-2 d-flex align-items-center d-flex justify-content-center" >
<h4 [ngClass]="d.status=='Pending' ? 'pending' : 'accept' " style="font-size:1.3rem; font-family:'Abas'">{{ d.status }}</h4>
  </div>
  <div class="col-1 d-flex align-items-center d-flex justify-content-center">
    <button class="btn btn-outline-danger" (click)="deleteAppoinment(d._id, d.doctorid )">Delete</button>
  </div>
</div>






</div>

 </div>
 <div class="row" style="width: 100%; padding-top:4%; position:static;">

  <div class="col d-flex align-items-center d-flex justify-content-center"><pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>
</div>

    </div>


</mat-sidenav-container>
