<mat-toolbar class="mat-elevation-z8" style="color: rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Doctor-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>



  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem; font-family:lemon;"><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="{{ displayImage }}" />

      <h4 class="name">Dr {{ doctordata.fullname }}</h4>
      <p class="designation">Hospital Doctor</p>
      <div class="container d-flex justify-content-center d-flex align-items-center" style="font-size: 1rem;">
        Available
            <div class="form-check" style="margin-left:3%;">
              <input class="form-check-input" (change)="available($event)"  type="checkbox" [checked]="doctordata.available" id="flexCheckDefault">

            </div>

          </div>
      <mat-divider></mat-divider>

   <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-button class="menu-button" (click)="profile()">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
      </button>

      <button mat-button class="menu-button" (click)="patient()">
          <mat-icon>people</mat-icon>
          <span>Patients</span>
      </button>

      <button mat-button class="menu-button" routerLink="/DoctorAppoinmentList">
          <mat-icon>assignment</mat-icon>
          <span>Appointments</span>
      </button>


      <button mat-button class="menu-button" routerLink="/calendarDoctor">
          <mat-icon>add_alert</mat-icon>
          <span>Reminder</span>
      </button>
      <button mat-button class="menu-button" routerLink="/doctor-password-reset">
        <mat-icon>vpn_key</mat-icon>
        <span>Change Password</span>
    </button>









  </mat-sidenav>


    <div class="content mat-elevation-z8" >
<div class="container-fluid">

  <div class="row">
    <div class="col-4 x d-flex justify-content-center">
      <div class="card doctor-profile zoom" routerLink="/show-doctor-details/{{ currentDoctor }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Profile</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card patients zoom" (click)="patient()">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Patients</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card Appointments zoom" routerLink="/DoctorAppoinmentList">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Appointments</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card checked zoom" routerLink="/Doctor-Notification/{{ currentDoctor }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Notification</h1>
      </div>
    </div>


     <div class="col-4 x d-flex justify-content-center">
      <div class="card reminder zoom" routerLink="/calendarDoctor">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Calendar</h1>
      </div>
    </div>
   



  </div>
</div>

</div>




</mat-sidenav-container>
