mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.logoclass{
  cursor: pointer;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;
}

.x-sign {
  --interval: 10s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign:nth-of-type(1) {
  color: rgb(252, 0, 0);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 255, 255);
  --color3: rgb(0, 253, 232);
  --color4: rgb(0, 162, 255);
  font-family: Sriracha;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}
mat-icon {
      margin-right: 8px;
  }

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.spacer {
  flex: 1 1 auto;
}

.x{

  height: 15rem;
  padding-top: 2%;
  text-align: center;

}
.y{
  height: 14rem;
  }
.z{
  height: 14rem;
  }
.doctor{
  height: 100%;
  width: 80%;



}
.doctor .pic{

  background-image: url("../../../assets/admin-dashboard/doctor.jpg");

  background-size: cover;
  background-repeat: no-repeat;

}
.doctor .xc{
  height: 100%;
}
.patient{
  height: 90%;
  width: 85%;

}

.nurse{
  height: 100%;
  width: 85%;

}
.nurse .pic{

  background-image: url("../../../assets/admin-dashboard/nurse.png");

  background-size: cover;
  background-repeat: no-repeat;

}
.nurse .xc{
  height: 100%;
}


.zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.09);
}

.zoom {
  cursor: pointer;
  border-radius: 4px;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.corona{
  height: 100%;
  width: 80%;



}
.corona .pic{

  background-image: url("../../../assets/admin-dashboard/corona.jpg");

  background-size: cover;
  background-repeat: no-repeat;

}
.corona .xc{
  height: 100%;
}
.doctor-profile {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(219, 206, 206, 0.356), rgb(89, 190, 168)), url("../../../assets/doctor/doctor-profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}
.Appointments {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(52, 201, 102, 0.356), rgb(195, 212, 194)), url("../../../assets/doctor/doctor-appointment.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}

.patients {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(243, 16, 16, 0.356), rgb(175, 173, 174)), url("../../../assets/doctor/patient1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}

.checked {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(4, 5, 2, 0.356), rgb(134, 145, 35)), url("../../../assets/doctor/check-appointment.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}

.patient-book {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(47, 63, 14, 0.356), rgb(35, 61, 145)), url("../../../assets/doctor/patient-book.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}

.reminder {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to right, rgba(24, 84, 214, 0.356), rgb(190, 40, 160)), url("../../../assets/doctor/reminder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

}

.available{
  font-size: 1rem;
}




















