<mat-toolbar class="mat-elevation-z8" style="color: rgb(114, 243, 97);background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Doctor-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem; font-family:lemon;"><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side" class="mat-elevation-z8" *ngFor="let d of admindata">

    <img class="avatar mat-elevation-z8" src="{{ displayImage }}" />

    <h4 class="name">Dr {{ doctordata.fullname }}</h4>
    <p class="designation">Hospital Doctor</p>
    <div class="container d-flex justify-content-center d-flex align-items-center" style="font-size: 1rem;">
      Available


        </div>


      <mat-divider></mat-divider>
     <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/doctor-password-reset">
      <mat-icon>vpn_key</mat-icon>
      <span>Change Key</span>
  </button>
  







  </mat-sidenav>


    <div class="content mat-elevation-z8"  style="height:max-content;">
<div class="container-fluid" style="padding: 2%;">


  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
    </div>

  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view

      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"


    >
    </mwl-calendar-month-view>


  </div>
</div>
    </div>

</mat-sidenav-container>










