<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>

  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Deshan Harshana</h4>
      <p class="designation">Hospital Admin</p>

      <mat-divider></mat-divider>


      <button mat-button class="menu-button" routerLink="/Patient-dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
  </button>

  <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
    <mat-icon>person</mat-icon>
    <span>Doctors</span>
</button>

  
    <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
      <mat-icon>assignment</mat-icon>
      <span>Appointments</span>
  </button>

  <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
    <mat-icon>insert_drive_file</mat-icon>
     <span>Report</span>
 </button>

 <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
   <mat-icon>add_shopping_cart</mat-icon>
     <span>E-Pharmacy</span>
 </button>




  <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
    <mat-icon>add_alert</mat-icon>
    <span>Reminder</span>
</button>


<button mat-button class="menu-button" routerLink="/Doctor-dashboard">
  <mat-icon>feedback</mat-icon>
  <span>Feedback</span>
</button>


  </mat-sidenav>




<div class="content mat-elevation-z8"  style="height: fit-content;">
  <div class='container-fluid' style="margin-top: 2%; margin-bottom:5%">
    <div class="card" style="padding: 2%;">
      <div class="row d-flex justify-content-end" style="margin-bottom: 2%;">
        <div class="col d-flex justify-content-start">
         <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:2rem"> Total : Rs {{ total }}</p>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-outline-success">Add Prescription</button>
        </div>
      </div>
    <div class="row">
      <div class="col-8">

          <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter medicine name to search">

      </div>

        <div class="col-4">

          <select id="type" class="form-control"  [(ngModel)]="catogory" (ngModelChange)="Catogorize()">
            <option>All Category</option>
            <option value="Cat 1">Cat 1</option>
            <option value="Cat 2">Cat 2</option>
            <option value="Cat 3">Cat 3</option>
          </select>




      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
    <div class="row">

      <div class="col-4" *ngFor="let d of filterdData">
        <div  class="card cd  d-flex align-items-center">
          <button class="available" *ngIf="d.availability==true" >Stock</button>
          <button class="notavailable"  *ngIf="d.availability!=true">Out Of Stock</button>

         <img src="{{ d.displayImage }}" class="r">
         <h4>{{ d.name }}</h4>
         <h3>{{ d.price }}</h3>
        <h2 class="strokeme">{{ d.quantity }}</h2>
        <button class="myButton" *ngIf="d.availability && !added" (click)="cart(d.price)">Cart</button>
        <button class="myButton" *ngIf="d.availability && added" (click)="cart(d.price)">Remove Cart</button>
        <button class="myButton2" *ngIf="!d.availability" (click)="error()">Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-sidenav-container>
