.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	
	display: flex;

}
.spacer {
	flex: 1 1 auto;
  }
  body {
	background-image: url("../../assets/background/background.jpeg");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
  }
  
.x{
  padding-top: 20vh;
}
.loader-container{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.8;

}

.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	color: #fff;
  background-image: url("../../assets/login/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}

.row > h1{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.x-sign {
	--interval: 10s;
	display: block;
	text-shadow: 
	  0 0 10px var(--color1),
	  0 0 20px var(--color2),
	  0 0 40px var(--color3),
	  0 0 80px var(--color4);
	will-change: filter, color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
  }
  
  .x-sign:nth-of-type(1) {
	color: rgba(254, 254, 254, 0);
	--color1: rgb(255, 255, 255);
	--color2: rgb(255, 255, 255);
	--color3: rgb(0, 253, 232);
	--color4: rgb(0, 162, 255);
	font-family: Sriracha;
  }
  
  
  @keyframes flicker {
	50% {
	  color: rgb(129, 218, 204);
	  filter: saturate(200%) hue-rotate(20deg);
	}
  }