mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;
}

.x-sign {
  --interval: 10s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign:nth-of-type(1) {
  color: rgb(252, 0, 0);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 255, 255);
  --color3: rgb(0, 253, 232);
  --color4: rgb(0, 162, 255);
  font-family: Sriracha;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 2.5rem;
padding: 2%;
  display: flex;
  justify-content: center;

}
.header-details{
  font-family: 'Lemon';
  color: rgb(221, 105, 27);
}
.list{
  padding: 1%;

}
.heading{
  font-family: 'Lemon';
  font-size: 1.1rem;
  color: rgb(46, 87, 6);
}
.patientImage{
  width: 20%;
  border-radius: 50%;
}
.accept{
  color: green;

}
.pending{
  color: orange;
}
.imageclass{
 width: 40%;
padding: 3%;
 border-radius: 50%;
}
.cc{
  background-color: rgba(127, 172, 255, 0.24);
  cursor: pointer;
  border-radius: 4px;

  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);


}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.myButton:active {
	position:relative;
	top:1px;
}

