<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Doctor-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" [src]="displayImage" />

      <h4 class="name">{{patientname}}</h4>
      <p class="designation">Hospital patient</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Patient-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-button class="menu-button" routerLink="/Admin-show-patient-details/{{ patient_id }}">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </button>

    <button mat-button class="menu-button" routerLink="/getAllDoctorAppoinment/{{ patient_id }}">
      <mat-icon>person</mat-icon>
      <span>Doctors</span>
  </button>


      <button mat-button class="menu-button" routerLink="/getcurrentAppoinment">
        <mat-icon>assignment</mat-icon>
        <span>Appointments</span>
    </button>

    <button mat-button class="menu-button" routerLink="/report-list/{{ patient_id }}">
      <mat-icon>insert_drive_file</mat-icon>
       <span>Report</span>
   </button>

   




    <button mat-button class="menu-button" routerLink="/patient-bill/{{ patient_id }}">
      <mat-icon>add_alert</mat-icon>
      <span>Your Bill</span>
  </button>

  <button mat-button class="menu-button" routerLink="/patient-password-reset">
    <mat-icon>vpn_key</mat-icon>
    <span>Change Key</span>
</button>

  









  </mat-sidenav>


    <div class="content mat-elevation-z8" >
<div class="container-fluid">
  <div class="row">

    <div class="col-4 x d-flex justify-content-center ">
      <div class="card  profile zoom" routerLink="/Admin-show-patient-details/{{ patient_id }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo;'; padding-top:14%; font-size:3.5rem;">Profile</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card doctor zoom" routerLink="/getAllDoctorAppoinment/{{ patient_id }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:14%; font-size:3.0rem;">Doctors</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card appointment-patient zoom" routerLink="/getcurrentAppoinment">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:10%; font-size:3.0rem;">My <br>Appointment</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center" >
      <div class="card report zoom" routerLink="/report-list/{{ patient_id }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:14%; font-size:3.0rem;">My Report</h1>
      </div>
    </div>




 

    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">

      <div class="card corona zoom" routerLink="/prescriptionList/{{ patient_id }}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'"></h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Meteor'; padding-top:14%; font-size:3.2rem;">Prescription</h1>


      </div>
    </div>






  </div>
</div>

</div>



</mat-sidenav-container>
