<mat-toolbar class="mat-elevation-z8">
  <h1 routerLink="/Patient-dashboard" class="logoclass">Patient</h1>
  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Deshan Harshana</h4>
      <p class="designation">Hospital Admin</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Patient-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </button>

      <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
        <mat-icon>assignment</mat-icon>
        <span>Appointments</span>
    </button>


    <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
      <mat-icon>add_alert</mat-icon>
      <span>Reminder</span>
  </button>


  <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
    <mat-icon>feedback</mat-icon>
    <span>Feedback</span>
</button>










  </mat-sidenav>


    <div class="content mat-elevation-z8" >
<div class="container-fluid">
  <div class="row">

    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">
      <div class="card  profile zoom" routerlink="">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">1</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo;'; padding-top:7%; font-size:3.0rem;">Profile</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card doctor zoom" routerLink="/getAllDoctorAppoinment">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">2</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Doctors</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card appointment-patient zoom" routerLink="/getcurrentAppoinment">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">3</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">Appointment</h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center">
      <div class="card report zoom" routerLink="/show-report/{{patient_id}}">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">4</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo'; padding-top:7%; font-size:3.0rem;">My Report</h1>
      </div>
    </div>

    


    <div class="col-4 x d-flex justify-content-center d-flex align-items-center" >
      <div class="card  pharmacy zoom" routerLink="/pharmacyMedicineList" >
        <h1 class="d-flex align-items-end flex-column"  style="padding: 5%; font-size:3rem; font-family:'Lemon'">4</h1>

        <h1 class="d-flex justify-content-center" style="font-family:'Quartzo;'; padding-top:7%; font-size:3.0rem;">E Pharmacy </h1>
      </div>
    </div>

    <div class="col-4 x d-flex justify-content-center d-flex align-items-center">

      <div class="card corona zoom" routerlink="">
        <h1 class="d-flex align-items-end flex-column" style="padding: 5%; font-size:3rem; font-family:'Lemon'">6</h1>
        <h1 class="d-flex justify-content-center" style="font-family:'Meteor'; padding-top:7%; font-size:3.2rem;">Covid 19</h1>

  
      </div>
    </div>

    




  </div>
</div>

</div>



</mat-sidenav-container>
