
<mat-toolbar class="mat-elevation-z8">
  <h1 routerlink="/Doctor-dashboard">Doctor</h1>
  <span class="spacer"></span>
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;">Logout</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Deshan Harshana</h4>
      <p class="designation">Hospital Admin</p>
      <div class="container available d-flex justify-content-center d-flex align-items-center">
        Available
            <div class="form-check" style="margin-left:3%;">
              <input class="form-check-input"  type="checkbox" value="" id="flexCheckDefault">

            </div>

          </div>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Doctor-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" >
          <mat-icon>person</mat-icon>
          <span>Patients</span>
      </button>



  </mat-sidenav>

<div class="content mat-elevation-z8">
  Doctore Add Patient
</div>

</mat-sidenav-container>
