<mat-toolbar class="mat-elevation-z8" style="color: white;background: linear-gradient(45deg, #64e2e6, #3a408b);">
  <img style="height:100%;  margin-right:5%; cursor:pointer" routerLink="/Admin-dashboard" src="../../../assets/navbar/logo.png"/>
  <h1 style="font-size: 7vh; color: rgb(244, 38, 34); padding-left: 14vw; font-family: Lemon; letter-spacing: 2vw;" class="x-sign" >LIFE CARE</h1>
  <span class="spacer"></span>
  <p class="txt-time" style="padding-top: 1%;">  {{time | date:'mediumTime'}} 
  <button (click)="logout()" class="btn" style="background-color: transparent; color:white; font-size:1.5rem;"><mat-icon>power_settings_new</mat-icon></button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side"  disableClose="true" class="mat-elevation-z8" *ngFor="let d of admindata">

      <img class="avatar mat-elevation-z8" src="{{ d.displayImage }}" />

      <h4 class="name">{{ d.fullname }}</h4>
      <p class="designation">{{ d.designation }}</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/Admin-dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-Add-Doctor">
        <mat-icon>person_add</mat-icon>
          <span>Add Doctor</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Admin-show-all-patient-list">
        <mat-icon>people</mat-icon>
        <span>All Patient</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Admin-show-doctorlist">
      <mat-icon>person_outline</mat-icon>
      <span>All Doctors</span>
  </button>
  <button mat-button class="menu-button" routerLink="/Admin-show-all-appoinment-list" >
    <mat-icon>book</mat-icon>
    <span>Appoinments</span>
</button>
<button mat-button class="menu-button" (click)="addPhamasisit()" >
  <mat-icon>open_with</mat-icon>
  <span>Add Pharmacist</span>
</button>





  </mat-sidenav>


    <div class="content mat-elevation-z8">
<div class="container-fluid ">
  <h1 class="header-details">All Patients</h1>
  <div class="d-flex justify-content-center">
  </div>

        <div class="container-fluid">
          <div class="d-flex justify-content-end" style="padding-left: 70%; margin-bottom:1%">
            <input class="form-control d-flex justify-content-end" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter name to search">
          </div>
        <div class="card list">
          <div class="row" style="border-bottom: 1px solid black; padding-bottom:6px">
           <div class="col-3 d-flex justify-content-center heading">
              Name
           </div>
        <div class="col-3 d-flex justify-content-center heading">
            Email
        </div>
        <div class="col-3 d-flex justify-content-center heading">
          Gender
        </div>
        <div class="col-2 d-flex justify-content-center heading">
          Subscription
        </div>
        <div class="col-1 d-flex justify-content-center heading">
          Action
        </div>
      </div>




      <div class="row" style="padding-bottom:6px; padding-top:6px" *ngFor="let d of filterdData |orderBy | paginate:{itemsPerPage:5, currentPage:p}">
        <div class="col-3 d-flex align-items-center ">
          <img class="patientImage d-flex align-items-center " src="{{ d.displayImage }}"/>
          <h4 style="margin-left: 5%; font-size:1.3rem; font-family:'Times New Roman'" >{{ d.name }}</h4>

        </div>
        <div class="col-3 d-flex align-items-center d-flex justify-content-center">
          <h4 style="font-size:1.3rem; font-family:'Times New Roman'">{{ d.email }}</h4>
        </div>
        <div class="col-3 d-flex align-items-center d-flex justify-content-center">
          <h4 style="font-size:1.3rem; font-family:'Times New Roman'">{{ d.gender }}</h4>

        </div>
        <div class="col-2 d-flex align-items-center d-flex justify-content-center" >

        <button class="btn btn-outline-info" routerLink="/patient-bill/{{ d._id }}">Bill</button>

        </div>
        <div class="col-1 d-flex align-items-center d-flex justify-content-center">
          <button class="btn btn-outline-primary" routerLink="/Admin-show-patient-details/{{ d._id }}">View</button>
        </div>
      </div>






      </div>

      </div>
      <div class="row" style="width: 100%; padding-top:4%; position:static;">

        <div class="col d-flex align-items-center d-flex justify-content-center"><pagination-controls  (pageChange)="p = $event"></pagination-controls>
        </div>
        </div>
      </div>

          </div>


      </mat-sidenav-container>
